/* 网页中基本样式初始化 start */
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,p,a,image,input{
	margin:0;
	padding:0;
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;
}
.container{
	width:1226px;
	margin:0 auto;
}
/* 网页中基本样式初始化 end */
/*头部广告开始*/
.top-guanggao{
    height:120px;
    min-width:1226px;
    background-color:#ddd;
    background-image:url(../images/top-guanggao.jpg);
    background-position:center center;
}
/*头部广告结束*/
/*topbar开始*/
.top-bar{
	height:41px;
    min-width:1226px;
    line-height: 41px;
	font-size: 12px;
    background-color: #333;
}
.top-bar a{
	color: #b0b0b0;
}
.top-bar-nav{
	float: left;
}
.top-bar-login{
	float: right;
}
.top-bar a::after{
    content:"|";
    margin:0 5px;
    color:#555;	
    }
.cart a::after{
    content:"";
    }
.last-child::after{
    display: none;
    }
.last-child{
	margin-right: 25px;
}
.top-bar a:hover{
        color:#fff;
        }
.cart{
	position:relative;
	float: right;
	width: 121px;
	height: 41px;
	z-index: 10;
	text-align: center;
	background-color: #424242;
	color:#b0b0b0;
}
.cart a{
	display: block;
    color: #b0b0b0；
	width: 121px;
	height: 41px;
}
.cart-active{
    background-color:#fff;
    color:orange;
}
.cart-content{
	display: none;
	float:right;
    width:316px;
    height:100px;
    color:#424242;
    line-height:100px;
    text-align:center;
    box-shadow:0px 3px 3px #ddd;
    background-color:white;
    overflow:hidden;
}
/*topbar结束*/
/*顶部菜单开始*/
.nav-container{
    position: relative;
}
.nav{
	position: relative;
    height:100px;
    width:1226px;
    margin:0 auto;

}
.nav-logo{
    float:left;
    width:55px;
    height:55px;
    margin-top:22.5px;
    text-indent:-999px;
    background:url(../images/mi-logo.png) no-repeat 50% 50% #ff6700;
}
.nav-menu{
	margin-left: 230px;
}
.xiala-background{
	position: absolute;
	width: 100%;
    height: 230px;
    display: none;
	top: 100px;
    z-index: 9999;
	border-top: 1px solid #e0e0e0;
	background-color: #fff;
	box-shadow:0px 2px 2px #ddd;
}
.xiala-content{
    height: 230px;
    width: 1225px;
    display: block;
    margin: 0 auto;
    /*background-color: pink;*/
}
.xiala-content li{
    position: relative;
    float: left;
    width: 180px;
    padding: 35px 12px 0;
    text-align: center;
    /*background-color: yellow;*/
}
.xiala-content li::before{
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 1;
    width: 1px;
    height: 100px;
    content: "";
    background-color:#e0e0e0;
}
.xiala-content li:first-child::before{    display: none;
}
.xiala-content li a{
    color: #757575;
    text-align: center;
    font-size: 12px;
}
.xiala-content a img{
    display: block;
    width: 160px;
    height: 110px;
    margin-left: 10px;
    margin-bottom: 15px;
}
.xiala-content p{
    line-height: 20px;
    font-size: 12px;
    margin-top: 3px;
    color: #ff6700;
}
.flags{
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.flag{
    display: inline-block;
    height: 18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
}
.nav-menu li{
     float:left;
     line-height:100px;
}
.nav-menu li a{
    padding: 26px 10px 38px;
    font-size:16px;
    color:#333;
}
.nav-menu li a:hover{
    padding: 26px 10px 38px;
    font-size:16px;
    color:#ff6700;
}
.nav-search{
    position:relative;
	float:right;
	width:294px;
	height:50px;
	margin-top:24px;
	font-size:0;
	border:1px solid #e0e0e0;
}
.nav input{
    width:234px;
    height:50px;
    padding-left:10px;
    font-size:16px;
    border:none;
    outline:none;
    vertical-align:top;
}
.icon-fangdajing{
    display:inline-block;
    margin-right:-1px;
    margin-top:-1px;
    width:49px;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:18px;
    color:#616161;
    border:1px solid #e0e0e0;
}
.search-link{
    position:absolute;
    top:17px;
    left:50px;
}
.search-link a{
    padding:3px 6px;
    margin-right:4px;
    color:#757575;
    background-color:#eee;
    font-size:12px;
}
.search-link a:hover{
    background-color:#ff6700;
    color:#fff;
}
.icon-fangdajing:hover{
    border:1px solid #ff6700;
    background-color:#ff6700;
    color:#fff;
}
.search-content{
    position:absolute;
    display:none;
    z-index: 25;
    top:50px;
    left:-1px;
    width:243.5px;
    font-size:12px;
	border:1px solid #ff9700;
    background-color:#fff;
}
.search-content li{
	height:30px;
	line-height:30px;
	padding:0 15px;
}
.search-content li:hover{
	background-color:#eee;
}
.search-content span:last-child    {
    float:right;
    color:#ddd;
}
.search-content a{
    color:#000;
    display:block;
}
/*顶部菜单结束*/
/*banner菜单栏开始*/
.carousel{
    position:relative;
    height:460px;
    z-index: 20;
}
.carousel-image{
    position:absolute;
}
.carousel-image li{
    position:absolute;
    display: none;
}
.carousel-menu{
    position:absolute;
    padding-top:20px;
    padding-bottom:20px;
    width:234px;
    height:420px;
    background-color:rgba(0,0,0,0.6);
}
.li-li{
    line-height:42px;
    padding-left:30px;
    padding-right:24px;
    color:#fff;
    height:42px;
}
.li-li:hover{
    background-color:#ff6700;
}
.icon-arrow-right{
    float:right;
}
.carousel-menu a{
    color:#fff;
    font-size:14px;
}
#carousel-menu-content{
    display:none;
    z-index:2;
    position:absolute;
    left:234px;
    top:0;
    width:530px;
    height:460px;
    background-color:#fff;
}
.li-li:hover #carousel-menu-content{
    display:block;
}
#li{
    display: block;
    overflow:hidden;
    float:left;
    width:265px;
    height:76px;
}
#a{
    padding-left:20px;
    color:#333;
    font-size:14px;
    line-height: 76px;
}
#a:hover{
    color:#ff6700;
}
#a-a{
    text-align:center;
    margin:26px 26px 26px 0;
    float:right;
    right:10px;
    top:26px;
    width:58px;
    height:22px;
    line-height:22px;
    border:1px solid #b0b0b0;
    color: #333;
    font-size: 12px;
}
#a-a:hover{
    color: #fff;
    background-color:#ff6700;
}
#li img{
    display: inline-block;        
    vertical-align:middle;
    margin-right: 12px;
    line-height:76px;
}
.jiantou{
    position:absolute;
    height:69px;
    width:41px;
}
.carousel-left{
    top:50%;
    left:234px;
    background-image:url(../images/icon-slides.png);
    background-position:83px 0;
}
.carousel-left:hover{
    background-position:0 0;
}
.carousel-right{
    top:50%;
    right:0;
    background-image:url(../images/icon-slides.png);
    background-position:41px 0;
}
.carousel-right:hover{
    background-position:-41px 0;
}
.carousel-index{
    position:absolute;
    right:35px;
    bottom:25px;
}
.carousel-index li{
    float:left;
    width:8px;
    height:8px;
    margin-left:10px;
    background-color:#788994;
    border:2px solid #a2afb7;
    border-radius:50%;
}
.carousel-index li.active{
    background-color: #deeffa;
    border:2px solid #859096;
}

/*banner菜单栏结束*/
/*banner下方广告开始*/
.guanggao{
    position:relative;
    height:170px;
    margin-top:14px;
    font-size:0;
}
.guanggao-table{
    display:inline-block;
    width:228px;
    height:164px;
    padding:3px;
    background-color:#5f5750;
}
.guanggao-table li {
    position:relative;
    float:left;
    width:70px;
    height:82px;
    text-align:center;
    padding-left:3px;
    padding-right:3px;
}
.guanggao-table li a{
    display: block;
    color:#cdcac8;
    font-size:12px;
    padding-top: 18px;  
}
.guanggao-table li a:hover{
    color:#fff;
}
.guanggao-table li i{
    display:block;
    height:24px;
    margin-bottom:4px;
    font-size:28px;
    line-height:24px;
}
/*标线开始*/
.guanggao-two::before{
    position: absolute;
    left:6px;
    top:82px;
    content:"";
    width:64px;
    height:1px;
    background:#665e57  ;
}
.guanggao-two::after{
    position: absolute;
    left:76px;
    top:6px;
    content:"";
    width:1px;
    height:70px;
    background:#665e57;
}
.guanggao-bottom::before{
    position: absolute;
    left:6px;
    top:82px;
    content:"";
    width:64px;
    height:1px;
    background:#665e57;
}
.guanggao-right::after{
    position: absolute;
    left:76px;
    top:6px;
    content:"";
    width:1px;
    height:70px;
    background:#665e57;
}
/*标线结束*/
.guanggao-ul{
    display:inline-block;
    width:988px;
    height:170px;
    margin-left:3px;
}
.guanggao-ul img{
    float:left;
    width:316px;
    height:170px;
    margin-left:13px;
}
/*banner下方广告结束*/
/*明星单品 start*/
.mingxing{
    position:relative;
    overflow: hidden;
    height:438px;
    margin-top:26px;
}
.mingxing .mingxing-title{
    height:58px;
}
.mingxing .mingxing-title p{
    float:left;
    line-height:58px;
    font-size:22px;
    color:#333;
}
.mingxing-right i{
    display:inline-block;
    width:24px;
    height:16px;
    font-size:16px;
   
    cursor:pointer;
    padding:3px 5px;
    border:1px solid #e0e0e0;
}
.icon-zuoyoujiantou-copy-copy{
     color:#e0e0e0;
}
.icon-zuoyoujiantou-copy-copy-copy{
    color:#b0b0b0;
}
.icon-active{
    color:#ff6700;
}
.icon{
    color:#e0e0e0;
}
.mingxing-right{
    position:absolute;
    right:10px;
    font-size:0;
    margin-top:14px;
    text-align:center;
}
.mingxing-body {
    font-size:0px;
    height:300px;
    overflow:hidden;
}
.mingxing-body ul {
    position: relative;
    width: 2480px;
}
.mingxing-body li{
    /*overflow:hidden;*/
    display:inline-block;
    height:300px;
    width:234px;
    padding-top:39px;
    margin-right:14px;
    text-align:center;
    background-color:#fafafa;
}
.mingxing-body img{
    width:160px;
    height:160px;
    line-height:160px;
    margin-bottom:22px;
    vertical-align:middle;
}
/*边框开始*/
.mingxing .mingxing-body .one{
    border-top:1px solid #ffac13;
}
.mingxing .mingxing-body .two{
    border-top:1px solid #83c44e;
}
.mingxing .mingxing-body .three{
    border-top:1px solid #2196f3;
}
.mingxing .mingxing-body .four{
    border-top:1px solid #e53935;
}
.mingxing .mingxing-body .five{
    margin-right:0;
    border-top:1px solid #00c0a5;
}
    /*边框结束*/
    /*产品样式开始*/
.mingxing .mingxing-body h3{
    font-size:16px;
    color:#212121;
    margin-bottom:3px;
}
.mingxing .mingxing-body span{
    display:block;
    font-size:12px;
    color:#b0b0b0;
    margin-bottom:12px;
}
.mingxing .mingxing-body p{ 
    font-size:12px;
    color:#ff6709;
    font-weight: bold;
}
    /*产品样式结束*/
/*明星单品 end*/
/*产品背景 start*/
.bj-color{
    background-color:#f5f5f5;
    padding-top:60px;
    height:100%;
    min-width:1226px;
    overflow:hidden;
}
/*产品背景 end*/
/*家电产品 start*/
.chanpin-title{
    clear: both;
    position:relative;
    height:58px; 
}
.chanpin-title p{
    float:left;
    font-size:22px;
    line-height:58px;
}
.chanpin-title div{
    float:right;
}
.chanpin-title a{ 
    height:26px;
    font-size:16px;
    color:#424242;
    margin-left:30px;
    margin-top:16px;
}
.chanpin-title a:hover{
    color:#ff6700;
    border-bottom:2px solid #ff6700;
}
.chanpin-body{
    font-size: 0;
    height: 628px;
}
.chanpin-body ul{
    float:left;
    position:relative;
    display: none;
    height: 628px;
    width:992px;
}
.chanpin-body ul li{
    float:left;
    display: inline-block; 
    text-align:center;
    margin-bottom:14px;
    background-color:#fff;
}
/*大图*/
.big{
    overflow:hidden;
    display: inline-block; 
    float: left; 
    height:614px;
    width:234px;
    transition:all 0.5s ease;
}
.big:hover{
    margin-top:-3px;
    margin-bottom:17px;
    box-shadow:3px 3px 13px 3px #ddd;
}
.big img{
    height:628px;
    width:234px;
}
/*小图*/
.chanpin-body .small{
    overflow:hidden;
    position:relative;  
    height:246px;
    width:234px;
    padding-top:34px;
    padding-bottom:20px;
    margin-left:14px;
    margin-bottom:14px;
    transition:all 0.5s ease;
}
.chanpin-body .small:hover{
    margin-top:-3px;
    margin-bottom:17px;
    box-shadow:3px 3px 13px 3px #ddd;
}
.chanpin-body .small img{
    height:150px;
    width:150px;
    margin-left:42px;
    margin-right:42px;
    margin-bottom:18px; 
}
.chanpin-body .small h3{
    font-size:14px;
    color:#333;
    font-weight: 400;
}
.chanpin-body .small span{
    display:inline-block;
    margin:0 10px 10px; 
    font-size:12px;
    color:#b0b0b0;
    line-height:18px;
}
.chanpin-body .small p{
    margin:0 10px 10px; 
    font-size:14px;
    color:#ff6700;
}
.chanpin-body .small p del{
    color:#b0b0b0;
}
/*小小图*/
.chanpin-body .least-one{
    position:relative;
    width:234px;
    height:93px;
    margin-left:14px;
    margin-bottom:14px;
    padding-top:50px;
    transition:all 0.5s ease;
}
.chanpin-body .least-one:hover{
    margin-top:-3px;
    margin-bottom:17px;
    box-shadow:3px 3px 13px 3px #ddd;
}
.chanpin-body .least-one img{
    position:absolute;
    right:10px;
    bottom:30px;
    width:80px;
    height:80px;
}
.chanpin-body .least-one div{
    position:absolute;
    left:30px;
    font-size:14px;
    text-align:left;
}
.chanpin-body .least-one a{
    display:inline-block;
    color:#000;
    margin-bottom:10px;
}
.chanpin-body .least-one p{
    color:#ff6700;
}
.chanpin-body .least-two{
    position:relative;
    width:234px;
    height:93px;
    margin-left:14px;
    margin-bottom:14px;
    padding-top:50px;
    transition:all 0.5s ease;
}
.chanpin-body .least-two:hover{
    margin-top:-3px;
    margin-bottom:17px;
    box-shadow:3px 3px 13px 3px #ddd;
}
.chanpin-body .least-two i{
    position:absolute;
    font-size:50px;
    color:#ff6700;
    right:30px;
    top:45px;
}
.chanpin-body .least-two div{
    position:absolute;
    display:inline-block;
    left:30px;
    font-size:14px;
    text-align:left;
}
.chanpin-body .least-two a{
    display:inline-block;
    color:#333;
    font-size:18px;
}
.chanpin-body .least-two p{
    color:#757575;
    font-size:12px;
}

/*打折信息 start*/
.small-top{
    position:absolute;
    top:0;
    left:85px;
    width:64px;
    height:20px;
    color:#fff;
    line-height:20px;
    font-size:12px;
    background-color:#e53935;
}
/*打折信息 end*/
/*评价信息框 start*/
.small-bottom{
    position:absolute;
    top:300px;
    padding:8px 30px;
    height:74px;
    background:#ff6700;
    transition:all 0.3s ease;
}
.small-bottom a{
    display:inline-block;
    text-align:left;
}
.small-bottom .small-bottom-one{
    font-size:12px;
    color:#fff;
    margin-bottom:5px;
}
.small-bottom .small-bottom-two{
    font-size:12px;
    color:rgba(255,255,255,0.6);
}
.chanpin-body .small:hover .small-bottom{ 
    top:230px;
}
/*评价信息框 end*/
/*家电产品 end*/
/*热门产品 start*/
.hot ul li{
    float:left;
    width:296px;
    height:415px;
    margin-left:14px;
    margin-bottom:14px;
    background-color:#fff;
    transition:all .5s ease;
}
.hot ul li:hover{
    margin-top:-3px;
    margin-bottom:17px;
    box-shadow:3px 3px 13px 3px #ddd;
}
.hot ul .hot-one{
    margin-left:0;
}
.hot ul li a img{
    width:296px;
    height:220px;
    margin-bottom:28px;
}
.pj{
    height:72px;
    margin:0 28px 22px;
    color:#333;
    font-size:14px;
    line-height:24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-align:center;
}
.lj{
    position:relative;
    height:18px;
    margin:0 28px 8px;
    padding:0 10px 0 0;
    font-size:12px;
    color:#b0b0b0;  
}
.lj::before{
    content:"来自于"; 
}
.lj::after{
    content:"的评价";   
}
.name{
    margin:0 30px;
}
.hot .name p{
    display:inline-block; 
    font-size:14px;
}
.hot .name .name-one{
    color:#333;
}
.hot .name .name-two{
    color:#b0b0b0; 
}
.hot .name .name-three{
    color:#ff6700; 
}
/*热门产品 end*/
/*内容 开始*/
.neirong-ul{
    position: relative;
    float: left;
    overflow: hidden;
    width: 296px;
    height: 419px;
    text-align: center;
    background-color: #fff;
    margin:0 14px 14px 0;
    transition:all 0.5s ease;
}
.neirong-ul:hover{
    margin-top:-3px;
    margin-bottom:17px;
    box-shadow:3px 3px 13px 3px #ddd;
}
.neirong-ul ul{
    position: relative;
    left: 0;
    width: 1184px;
    margin-right:14px;
    background-color: #fff; 
}
.neirong-ul ul li{
    float: left;
    display: inline-block;
    width: 296px;  
}
.neirong-ul ol{
    position: absolute;
    width: 296px;
    bottom: 15px;
    margin:0 auto;
}
.neirong-ul ol li{
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 2px 14px 2px;
    line-height: 6px;
    border-radius:50%;
    background-color: #b0b0b0;
}
/*底部小圆按钮样式*/
.neirong-ul h2{
    margin: 50px 10px 18px;
    font-size: 16px;
    font-weight: 400;
}
.neirong-ul ul li h3{
    margin: 0 20px 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
}
.neirong-ul ul li span{
    display: inline-block;
    margin: 0 48px 10px;
    height: 40px;
    width: 200px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #b0b0b0;
}
.neirong-ul ul li p{
    height: 21px;
    margin: 0 10px 15px;
    text-align: center;
}
.neirong-ul ul li img{
    width: 216px;
    height: 154px;
}
/*更改箭头*/
.jiantou-left{
    position: absolute;
    display: none;
    top: 186px;
    left: 0;
    font-size:18px;
    line-height:44px;
    color:#fff;
    width:20px;
    height:44px;
    background-color:rgba(66,66,66,0.2)
}
.jiantou-left:hover{
    background-color:rgba(66,66,66,0.6)
}

.jiantou-right{
    position: absolute;
    display: none;
    top: 186px;
    right: 0;
    font-size:18px;
    line-height:44px;
    color:#fff;
    width:20px;
    height:44px;
    background-color:rgba(66,66,66,0.2)
}
.jiantou-right:hover{
    background-color:rgba(66,66,66,0.6)
}
.book{
    border-top:1px solid #ffac12; 
}
.book h2{
    color: #ffac12; 
}
.book .go{
    width: 118px;
    height: 28px;
    margin: 0 auto 40px;
    color: #ffac12;
    font-size: 12px;
    border: 1px solid #ffac12;
    line-height: 28px;
}
.book .go:hover{
    color: #fff;
    background-color: #ffac12;  
}
.theme{
    border-top:1px solid #83c44e; 
}
.theme h2{
    color: #83c44e; 
}
.theme .go{
    width: 118px;
    height: 28px;
    margin: 0 auto 40px;
    color: #ffac12;
    border: 1px solid #ffac12;
    font-size: 12px;
    line-height: 28px;
}
.theme .go:hover{
    color: #fff;
    background-color: #ffac12;  
}
.game{
    border-top:1px solid #e53935; 
}
.game h2{
    color: #e53935; 
}
.game .go{
    width: 118px;
    height: 28px;
    margin: 0 auto 40px;
    color: #ffac12;
    font-size: 12px;
    border: 1px solid #ffac12;
    line-height: 28px;
}
.game .go:hover{
    color: #fff;
    background-color: #ffac12;  
}
.app{
    border-top:1px solid #2196f3; 
}
.app h2{
    color: #2196f3; 
}
.app .go{
    width: 118px;
    height: 28px;
    margin: 0 auto 40px;
    color: #ffac12;
    font-size: 12px;
    border: 1px solid #ffac12;
    line-height: 28px;
}
.app .go:hover{
    color: #fff;
    background-color: #ffac12;  
}
.neirong-avtive{}
/*内容 结束*/
/*底部 start*/
.foot-fuwu{
    overflow:hidden;
    padding:27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.foot-fuwu ul li{
    float:left;
    width:242px;
    text-align:center;
    border-left:1px solid #e0e0e0;
}
.foot-fuwu .fuwu-one{
    border:0;
}
.foot-fuwu a{
    color: #616161;
    transition: color .2s;
}
.foot-fuwu a:hover{
    color: #ff6700;
}
.foot-fuwu a i{
    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px;
}
.foot-xq{
    margin:40px 0;
    overflow:hidden;
}
.foot-xq dl{
    float:left;
    width:160px;
    height:112px;
    margin:0;
}
.foot-xq dt{
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.foot-xq dd{
    margin: 10px 0 0;
    font-size: 12px;
    color:#333;
}
.foot-xq dd a{
    color:#333;
}
.foot-xq dd a:hover{
    color:#ff6700;
}
.foot-xq-lx{
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
    text-align:center;
}
.foot-xq-lx h3{
    margin-bottom:5px;
    line-height:1;
    font-size:22px;
    color: #ff6700;
}
.foot-xq-lx p{
    margin-bottom:16px;
    line-height:18px;
    font-size:12px;
    color: #616161;
}
.foot-xq-lx a{
    display:block;
    width:118px;
    height:28px;
    border:1px solid #ff6700;
    margin:0 auto;
    font-size:12px;
    line-height:28px;
    color: #ff6700;
}
.foot-xq-lx a:hover{
    color: #fff;
    background-color:#ff6700;
}
/*底部 end*/
/*小米为发烧而生 start*/
.xiaomi{
    position: relative;
    padding: 30px 0;
    font-size: 12px;
}
.xiaomi .logo{
    float:left;
    width:57px;
    height:57px;
    margin-right:10px;
}
.xiaomi p a{
    line-height:18px;
    color:#757575;
}
.xiaomi p a:hover{
    color:#ff6700;
}
.xiaomi .lianjie{
    line-height:18px;
    color:#757575;
}
.xiaomi p{
    color:#b0b0b0;
}
.xiaomi .kexin{
    position:absolute;
    right:0;
    top:34px;
    height:28px;
    margin:4px 0 0;
}
.xiaomi .kexin img{
    width:85px;
    height:28px;
    margin-left:7px;
}
.xiaomi .xiaomi-logo{
    clear: both;
    margin: 30px auto 0;
    width: 267px;
    height: 19px;
}
.bj-color-foot{
    background-color:#f5f5f5;
    height:100%;
    min-width:1226px;
    overflow:hidden;
}
/*小米为发烧而生 end*/ 